[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/rifsxd/KernelSU-Next
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/simonpunk/susfs4ksu.git
	branch = kernel-4.19
